.category-block-view {
  padding: 7px 12px;
  height: 29px;
  font-size: 14px;
  background: #55bca6;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 6px 10px 0;
}

.category-block-view:hover {
  background-color: #4da592;
}

.tag {
  display: inline-block;
}
